.home{
    width: 100%;    /* ancho */
    height: 100vh;  /* alto */
    
    background-size: cover;
    background-position: center;
}
.cover{
    width: 100%;
    height: 100vh;
    
}
body {
    background-image: url("C:/Users/admin/Documents/SCESI/Web/practicas-web/Fondos/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(109, 48, 179,.30);
  }
