@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

.home{
    width: 100%;    /* ancho */
    height: 100vh;  /* alto */
    background-color: #674BAF;
    background-image: url("C:/Users/admin/Documents/SCESI/Web/practicas-web/Fondos/bg-desktop.svg");
    
    background-size: cover;
    background-position: center;
}

body {
    
    margin: 0px;
    padding: 0px;
}

.navbar{
    width: 100%;
    height: 230px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo{
    width: 14.11%;    /* ancho */
    height: 3.89%;  /* alto */

    position: absolute;
    top: 8.70%;
    left: 5.36%;

    /*max-width: 100%;*/
    height: auto;

    min-width: 150px;
    max-width: 271px;
    
}

.centro{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

.mockoup{
    flex-basis: 54.01%;

    min-width: 300px;
    max-width: 938px;
}

.mockoup img{
    width: 48.85%;    /* ancho */
    height: 62.22%;  /* alto */

    position: absolute;
    top: 24.44%;
    left: 5.16%;

    max-width: 100%;
    min-width: 320px;
    height: auto;
}

.content{
    width: 35.36%;    /* ancho */
    height: 23.98%;  /* alto */

    color: white;

    flex-basis: 680px; 

    
}

.content h1{
    width: 31.41%;    /* ancho */
    height: 14.39%;  /* alto */

    font-size: 53.65px;
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
    
    position: absolute;
    top: 32.03%;
    left: 57.92%;
    flex-basis: 35.42%; 
}

.content p{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;

    width: 36.20%;    /* ancho */
    height: 10.93%;  /* alto */
    
    position: absolute;
    top: 46.48%;
    left: 57.92%;
    
}

.boton{
    position: absolute;
    top: 63.50%;
    left: 57.92%;

    max-width: 100%;
    height: auto;
}

.boton button{
    width: 275px;
    height: 75px;

    background-color:white;
    border-radius: 55px;
    color:#674BAF;
    border:none;
    font-size: 23px;
}

.boton button:hover {
    background-color: #E882E8;
  }