@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

.home{
    width: 100%;    /* ancho */
    height: 100vh;  /* alto */
    background-color: #674BAF;
    background-image: url("C:/Users/admin/Documents/SCESI/Web/practicas-web/Fondos/bg-desktop.svg");
    
    background-size: cover;
    background-position: center;
}

body {
    
    margin: 0px;
    padding: 0px;
    background-color: #674BAF; 
}

.navbar{
    width: 100%;
    height: 21.30%;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    min-width: 375px;
}

.logo{
    width: 14.11%;    /* ancho */
    height: 3.89%;  /* alto */

    position: absolute;
    top: 8.70%;
    left: 5.36%;

    height: auto;

    min-width: 200px;
    max-width: 750px;
    
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    /*gap: 13%;*/
    
    column-gap: 13%;
    row-gap: 2.41%;
  }

.col-1{
    grid-column: 1 ; /* La primera columna ocupa la primera celda */
    grid-row: 1 ; /* La primera columna ocupa la primera fila */
}

.col-1 img{
    width: 48.85%;    /* ancho */
    height: 62.22%;  /* alto */

    position: absolute;
    top: 24.44%;
    left: 5.16%;

    max-width: 100%;
    min-width: 500px;
    height: auto;
}

.col-2{
    grid-column: 2 ; /* La segunda columna ocupa la segunda celda */
    color: white;

}

.col-2:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

  }
  
  .col-2:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

  }
  
  .col-2:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

  }


.col-2 h1{
    font-size: 53.65px;
    font-family: 'Poppins', sans-serif;

    margin-top: 10.50%;
    margin-right: 10.68%;
    margin-bottom: 0;
    margin-left: 0;

    padding: 0px;
    
}

.col-2 p{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    
    margin-top: 0%;
    margin-right: 6.72%;
    margin-bottom: 0;
    margin-left: 0;

    padding: 0px;

}


.col-2 button{
    width: 275px;
    height: 75px;

    background-color:white;
    border-radius: 55px;
    color:#674BAF;
    border:none;
    font-size: 23px;

    margin-top: 3.33%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    padding: 0px;
    
}

.col-2 button:hover {
    background-color: #E882E8;
}

.buttons-container {
    position: absolute;
    bottom: 4.53%;
    right: 5.89%;
    display: flex;
    justify-content: space-between;

    background-color: transparent;
}

.button1 {
    background-image: url("Fondos/FaceBlanco.png");
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    width: 52px;
    height: 52px;
    border: none;
    cursor: pointer;

    margin-right: 20px;
}
  
.button1:hover {
    background-image: url("Fondos/FaceRosa.png");
    background-color: transparent;
}

.button2 {
    background-image: url("Fondos/twitBlanco.png");
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    width: 52px;
    height: 52px;
    border: none;
    cursor: pointer;

    margin-right: 20px;
}
  
.button2:hover {
    background-image: url("Fondos/TwitRosa.png");
    background-color: transparent;
}

.button3 {
    background-image: url("Fondos/InstaBlanco.png");
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    width: 52px;
    height: 52px;
    border: none;
    cursor: pointer;
}
  
.button3:hover {
    background-image: url("Fondos/InstaRosa.png");
    background-color: transparent;
}

@media (max-width: 1064px) {
    
    .grid-container {
      grid-template-columns: 1fr;
    }

    .col-2 h1{
        font-size: 45px;
        text-align: center;
        margin-top: 50%; 
    }

    .col-2 p{
        font-size: 24px;
        text-align: center;
        
        margin-right:15%;
    }

    .col-1 img{
        top: 15.44%;
    }

    .logo{
        top: 5.70%;
    }

    .col-2 {
        display: flex;
        justify-content: center;
    }

    .col-2 button{
       margin-right:15%;
    }

    .buttons-container {
        position: absolute;
        bottom: 0;
        top:1465px;
        right:36%;
        display: flex;
        justify-content: space-between;
    
        background-color: transparent;
    }
  }